body{
  background-color: rgb(109, 164, 247);
  display: flex;
  justify-content: center;
  display: flex;
  flex:1;
align-items: center;
}
.😀{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.clock{
  position:relative;
  height: 30vh;
  width: 30vh;
  border:20px solid white;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}
.hand{
  position: absolute;
  top:50%;
  left:5%;
  width: 45%;
  height: 6px;
  background: black;
  transform-origin: 100%;
}
